.hljs-comment,
.hljs-quote {
    color: #00ccff;
}

.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-link,
.hljs-meta {
    color: #ffaaa2
}

.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-deletion {
    color: #f9c071
}

.hljs-title,
.hljs-section,
.hljs-attribute {
    color: #ffdd76
}

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
    color: #fcbff8
}

.hljs-keyword,
.hljs-selector-tag {
    color: #b1fddc
}

.hljs {
    display: block;
    overflow-x: auto;
    position: relative !important;
    z-index: 1 !important;
    backdrop-filter: blur(25px) !important;
    border: 1px solid rgba(255,255,255,.5) !important;
    color: #e4e4e4;
    padding: 0.5em
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: bold
}