<% let date = new Date(); const year = date.getFullYear();%>
<footer id="footer" >
    <span class="konga">
        <a class="jiao"  href="<%= page.prev_link ? config.root + page.prev_link : '.'%>"><</a>
            <input type="text" id="text_input"  placeholder="搜索" >
            
        <a class="jiao"  href="<%= page.next_link ? config.root + page.next_link : '.'%>">></a>
    </span>
    <div id="text_output"></div>
    </div>

</footer>
