<span class="pai">
    <a class="kong" href="<%= config.root %>"> 主页 </a>
    <a class="kong" href="<%= config.root %>archives"> 分类 </a>
    <a class="kong" href="<%= config.root %>about"> 关于 </a>
</span>
