

/* 玻璃 */
.box{
    position: relative;
    z-index: 1;
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255,0.5);
}


/* 玻璃 */
#text1{
    position: relative;
    z-index: 1;
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255,0.5);
}
/* 玻璃 */
#text4{
    position: relative;
    z-index: 1;
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255,0.5);
}
/* 玻璃 */
#toggleMenu nav .navigation li a{
    position: relative;
    z-index: 1;
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255,0.5); 
}
/* 玻璃 */
#frosted_glass > .wenzhang-container > .title is-3 is-4-mobile {
    position: relative;
    padding: 15px;
    z-index: 1;
    backdrop-filter: blur(25px);
    border: rgba(255, 255, 255,0.5); 
}

#content-wrap > div > span > h2 > ul > li
{
    position: relative;
    z-index: 1;
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255,0.5);
}

#content-wrap > div > div > wenzhang > div.content\>.\<\/div\>.\<div.id\={
    position: relative;
    z-index: 1;
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255,0.5);
}

#content-wrap > div > div > wenzhang > span > figure > table > tbody > tr > td {
    color: rgb(250, 250, 250);
}

/* .frosted_glass {
    border: 1px solid rgba(255, 255, 255);
} */



#text_input {

    background-color:rgba(0,0,0,0);
    background:rgba(0,0,0,0);
    position: relative;
    z-index: 1;
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255,0.5);
    
}

#text_output {
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255,0.5);
}
/*隐藏边框、设置透明色*/
.none-border{
    border-style:none;
    background:none;
}

/* 切图壁纸 */
body,main::before{
        background:url(bg2.jpg) 0 / cover fixed;
}

