<% let date = new Date(); const year = date.getFullYear();%>
<footer id="footer" >
    <div class="glass" >
        <input id="text_input"  placeholder="搜索">
        <div id="text_output"></div>
    </div>
</footer>
