.shuxue {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.shuxue2 {
    margin-left: 17px;
    box-sizing: border-box;
  }
  @media all and (max-width: 483px) {
    .shuxue {
        flex-direction: column;
    }
  }