/* wenzhang=文章
/* pai = 排 */
/* kong = 空 */
/* jiao = 脚 */

/* 主页框框 */
#content-wrap > div  {
    margin: 0 auto;
}

/* 框框位置 */
#content-wrap > div > div > p{
    display: flex;    
    width: 100%; 
    height: 100%;
    justify-content: space-around;
}

p {
    color:rgb(255, 255, 255);
}

wenzhang {
    color:rgb(255, 255, 255);
}

.Text>a{
    color:rgb(255, 255, 255);
    font-size: 20px;
}

.pai {
    display: flex;    
    width: 100%;
    justify-content: space-around;
    font-size: 25px;
    margin: 30px 30px 40px 0px;
}

a > span {
    color:rgb(255, 255, 255);
}

strong > a {
    color:rgb(255, 255, 255);
}

h1,h2,h3,h4,h5 > a{
    color:rgb(255, 255, 255);
}

h1>a, h2>a, h3>a, h4>a {
    color:rgb(255, 255, 255);
}

.category-list-item>.category-list-link{
    color:rgb(255, 255, 255);
}


.kong{
    color:rgb(255, 255, 255);
    /* font-size: 1px; */
    /* font-weight: bold; */
    margin: 0px 0px 0px 0px;
}

.box{
    /* border-style:solid; */
    border-width:medium;
}

/* 换页 */

/* .jiao{
    color:rgb(255, 255, 255);
    margin: 0px 0px 0px 0px;
} */

.konga {
        display: flex;    
        width: 100%;
        justify-content: space-around;
        margin: 5% 0px 0px 0px;
        color:rgb(255, 255, 255);
}

#content-wrap > div > div > h1{
    display: flex;    
    width: 100%;
    justify-content: space-around;
    font-size: 25px;
    /* margin: 30px 30px 40px 0px; */
}
#content-wrap > div > div > h3{
    display: flex;    
    width: 100%;
    justify-content: space-around;
    font-size: 25px;

}


img{
    width: 100%;  
}

/* 日期框框 */
.bx{
    /* border-style:solid;
    border-width:medium; */
    font-size: 1px;
    font-weight: bold;
    color:rgb(255, 255, 255);
}

p > a{
     color:rgb(255, 255, 255);
}


/* 文章布局 */
.wenzhang-container {
    margin: auto;
    max-width: 960px;
    padding: 16px 16px;
    overflow-wrap: break-word;
    word-break: break-word;
    line-height: 1.6;
    font-size: larger;
}

/* 表格 */
#content-wrap > div > div > wenzhang > table > tbody > tr > td{
    border: 1px solid;
    border-spacing: 2px;
    border-color: rgb(255, 255, 255);
}

/* 分类中间对其 */
#content-wrap > div > span > h2 > ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#content-wrap > div > span > h2 > ul > li{


    padding: 10px 10px 10px 10px;

    border-radius: 10px;

    border-style:solid;
    border-width:medium;
    display: inline-block;
    margin: 10px 10px 10px 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}


/* 关于框框 */
#text1{
    padding: 30px;


}
/* 框框文字 */
#text2{
    color: rgb(255, 255, 255);
    margin: 0 auto;
    text-align: center;
    font-weight:900;
    font-size: 2rem;;
}

#text1 {
    color: rgb(255, 255, 255); 
}
/* 分类框框 */
#text3{
    min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* 分页字体 */
#text4{
    /* font-size: 75%;
    margin: 10px 10px 10px 10px; */
        /* 阴影 */
        display: flex;   
        justify-content: center;
        /* margin-bottom: 1.6rem; */
        /* border-style:solid; */
        /* color:rgb(255, 255, 255); */
        /* overflow-wrap: break-word; */
        /* word-break: break-word; */
        font-size: larger;
        /* 长度 */
        margin-bottom: 1.6rem;
        /* 边框 */
        /* border: 2px solid rgb(255, 255, 255);; */


        border-radius: 10px;
    
        border-style:solid;
        border-width:medium;
        display: inline-block;
        margin: 10px 10px 10px 10px;
        text-decoration: none;
        color: rgb(255, 255, 255);
}

/* 搜索 */
/* 换页 */
#text_input {
    color: rgb(138, 138, 138);
    text-align: center;
    margin: 0 auto;
    display:flex;
    /* 去黑边 */
    outline: none;
    border-width:0;
      
}




/* 换页 */
#text_input, .jiao {
    border-radius: 10px;
    color: rgb(138, 138, 138);
    text-align: center;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1em;
    font-size: larger;
    border-radius: 10px;
    position: relative;
    background-color: rgba(255, 255, 255);
    overflow: hidden;
      
}

#footer > span > a{
  font-size: 2.1875rem;  
}

/* 输出 */
/* 可毛玻璃 */
#text_output{
    text-align: center;
    /* position: relative;
    z-index: 1;
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255,0.5); */
}

#text_output > div > div{
    border: 2px;;
    color: rgb(255, 255, 255);
    font-size:25px;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    padding: 1px 1px 1px 1px;
}


/* 框框位置上下位置 */
.box {
    margin-bottom: 1.6rem;

}


body {
    font-weight: 500px;
    line-height: 1.5
}

a {
    cursor: pointer;
    text-decoration: none
}


.box {
    border-radius: 6px;
    /* color: rgb(255, 255, 255); */
    display: block;
    padding: 1.25rem
}



/* 框框宽度 */

@media screen and (min-width:84.0625rem) {
    .container {
        max-width: 84.0625rem;
    }
}


/* 代码框背景颜色 */

/* #content-wrap > div > div > wenzhang > figure{
    background-color: rgb(249, 249, 249);


} */


/* 评论系统 */
#waline > div > div.wl-comment > div > div.wl-footer > div.wl-info > button{
    outline: none;
    border-width:0;
}

#waline > div > div.wl-power {
    background-color: rgba(0,0,0,0) !important;
    color:rgba(0,0,0,0) !important;
    text-decoration: none !important;
}

.wl-btn.primary {
    border-color: rgba(0,0,0,0) !important;
    background: rgba(0,0,0,0) !important;
    color: rgb(0, 0, 0) !important;
}

.wl-panel {
    position: relative;
    flex-shrink: 1;
    width: 100%;
    margin: 0.5em;
    border: var(--waline-border);
    border-radius: 0.75em;
    background: var(--waline-bgcolor);
    box-shadow: var(--waline-box-shadow);
}

/* 字体颜色 */
#waline > div > div.wl-comment > div > div.wl-footer > div.wl-info > button{
    color: rgb(255, 255, 255) !important;
}

:root {
    --waline-bgcolor: rgba(0,0,0,0) !important;
    --waline-info-color: rgba(0,0,0,0) !important;
    --waline-bgcolor-light: rgba(0,0,0,0) !important;
    --waline-border-color: rgba(0,0,0,0) !important;
}
/* 昵称 网站 */
.wl-header label{
    color: rgb(255, 255, 255) !important; 
}

element.style {
}
[data-waline] * {
    box-sizing: content-box;
    line-height: 1.75;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins,sans-serif;
}
svg[Attributes Style] {
    width: 24;
    height: 24;
}
user agent stylesheet
svg:not(:root) {
    overflow: hidden;
}
.wl-action:hover {
    color: var(--waline-theme-color);
}
/* 图标 */
.wl-action {
    color: rgb(255, 255, 255) !important; 
}
/* 地区 浏览器 系统 背景 */
.wl-card .wl-meta>span {
    background: rgba(0,0,0,0) !important;
}
/* 评论二字 */
#waline > div > div.wl-meta-head > div{
    color: rgb(255, 255, 255)  !important;
}

[data-waline] a {
    color: rgb(255, 255, 255) !important;
}
#waline > div > div.wl-power > a{
    color: rgba(0,0,0,0) !important; 
}

.wl-card .wl-time {
    color: rgb(255, 255, 255)  !important;
}
/* 名字 */
[data-waline] p {
    color: rgb(255, 255, 255)  !important;
}

.wl-card .wl-meta>span {
    color: rgb(255, 255, 255)  !important;

}
/* 点赞颜色 */
.wl-card .wl-delete, .wl-card .wl-like, .wl-card .wl-reply, .wl-card .wl-edit {
    color: rgb(255, 255, 255)  !important;
}
/* 正序 倒序 */
.wl-sort li {
    color: rgb(255, 255, 255) !important;
}

#wl-edit{
    color: rgb(255, 255, 255) !important;
}

/* 毛玻璃评论 */
#waline > div > div.wl-comment > div{
    position: relative  !important;
    z-index: 1  !important;
    backdrop-filter: blur(25px)  !important;
    border: 1px solid rgba(255,255,255,.5)  !important;
}
/* #waline > div > div.wl-comment{
    display:flex  !important;
    align-items: center  !important;
    justify-content: center  !important;



} */




