<!-- 点击文章 -->
<div>
  <h1><%-page.title%></h1>
  <wenzhang>
      <div class="contents">
        <%- toc(page.content, {list_number:false}) %>
      </div>
      <%-page.content%>
      <div id="lv-container" data-id="city" data-uid="MTAyMC80NTk3NS8yMjQ4Ng==">
  <!-- 评论系统 -->
  <script type="text/javascript">
     (function(d, s) {
         var j, e = d.getElementsByTagName(s)[0];
         if (typeof LivereTower === 'function') { return; }
  
         j = d.createElement(s);
         j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
         j.async = true;
  
         e.parentNode.insertBefore(j, e);
     })(document, 'script');
  </script>


  </wenzhang>





